.footer-container {
  background-color: #112546;
  max-width: 100%;
  margin: auto;
  padding: 50px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-item {
  width: 25%;
  padding: 0 15px;
}

.footer-item h4 {
  position: relative;
  font-size: 18px;
  color: white;
  margin-bottom: 30px;
  font-weight: 400;
}



.footer-item ul li a {
  font-weight: bold;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 5px;
}

.footer-item .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.6s ease;
}

.footer-item ul li a:hover {
  color: black;
  padding-left: 8px;
  font-weight: 400;
  background-color: white;
  padding: 8px 12px;
  border-radius: 10px;
  text-align: center;
}


.footer-item .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-item {
    width: 50%;
    margin-bottom: 30px;
    text-align: center; 
  }

  .footer-item h4::before {
    width: 30px; 
  }
}

@media (max-width: 574px) {
  .footer-item {
    width: 100%;
  }

  .footer-item h4::before {
    display: none;
  }
}
