@media (min-width: 768px) {
  .btn-primary {
    width: 30%;
    background-color: #3498db;
  color: white;
    margin-bottom: 10px;
  }
  .cetak {
    width: 20%;
    margin-bottom: 10px;
  }

}
@media (max-width: 767px) {
  
    .openn{
      left: 50%; 
     
      transform: translateX(-50%);
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
      }
    
      .modal-content {
        width: 90%;
        max-width: 1200px;
        margin: auto;
        padding: 20px;
        font-size: 16px;
        box-sizing: border-box;
     
      }
    
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
    
      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      .setfauna-container {
        left: 0;
        margin-left: 0; 
        width: 100%;
        max-width: 1200px;
      }
    
      .table {
        width: 100%;
        overflow-x: auto;
        margin-left: auto; 
        margin-right: auto; 
        max-width: 100%; 
      }
    .bg-primary.text-white {
      display: none; 
    }
  
    .table tbody tr {
      display: block;
      margin-bottom: 20px;
      border: 1px solid #ddd;
    }
  
    .table tbody td {
      display: block;
      text-align: left;
      width: 100%;
    }
  
    .form-control {
      width: 50%;
      margin-left: 20px;
      margin-top: 15px;
    }
    
    .btn-primary2 {
      width: 30%;
      background-color: #3498db;
      color: white;
      margin-bottom: 10px;
    }
    .cetak-fauna {
      width: 20%;
      margin-bottom: 10px;
    }
    .cari {
      margin-left: 20px;
      width: 30%;
    }
  }
  .btn-primary2{
    background-color: #3498db;
  color: white;
  }
  