   
  .app-barr {
    padding: 8px 16px;
    background-color: #112546;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: fixed; 
    top: 0;
    left: 0;
    color: black;
    right: 0;
    z-index: 98;
  }
   
  .app-barr .app-bar__menu {
    display: flex;
    align-items: center;
  }
   
  .app-barr .app-bar__menu button {
    background-color: #112546;
    border: none;
    font-size: 18px;
    padding: 8px;
    color: white;
    cursor: pointer;
  }
   
  .app-barr .app-bar__brand {
    display: flex;
    align-items: center;
  }
   
  .app-barr .app-bar__brand a {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    user-select: none;
    text-decoration: none;
  }
   
  .app-barr .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    color: white;
    background-color: #112546; 
    overflow: hidden;
  }
   
  .app-barr .app-bar__navigation.open {
    left: 0;
    margin-top:45px ;
  }
   
  .app-barr .app-bar__navigation ul li a {
    display: grid;
    text-decoration: none;
    background-color: transparent;
    padding: 8px;
    list-style-type: none;
    font-size: medium;
    color: white;
    margin-bottom: 5px;
    width: 100%;
    z-index: 98;
  }
  
  .app-barr .app-bar__navigation ul li a:hover {
    background-color: white;
    color: #000000; 
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 10px;
  }
  