@media screen and (min-width: 650px) {
    .app-barr {
      grid-template-columns: 1fr auto;
      padding: 8px 32px;
    }

    .logo-app {
      max-width: 100px; 
      max-height: 50px; 
      margin-right: 5px;
    }

    .logo-app-login {
      max-width: auto; 
      max-height: 150px; 
      margin-right: 5px;
    }
   
    .app-barr .app-bar__brand a {
      font-size: 1.5em;
      text-decoration: none;
    }
   
    .app-barr .app-bar__menu {
      display: none;
    }
   
    .app-barr .app-bar__navigation {
      position: static;
      width: 100%;
    }
   
    .app-barr .app-bar__navigation ul li {
      display: inline-block;
    }
   
    .app-barr .app-bar__navigation ul li a {
      display: inline-block;
      width: 120px;
      text-align: center;
      margin: 0;
    }
  }
   
  @media screen and (min-width: 800px) {
    .app-barr .app-bar__brand h1 {
      font-size: 2em;
      text-decoration: none;
    }
  }
  @media (max-width: 767px) {
    .flex-md-row {
      height: auto;
    }
    .app-bar__brand .logo-app{
      max-width: 80px;
    }
    
  }