.result-container {
  margin: 20px auto; 
  padding: 15px; 
  border: 1px solid #3498db;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: #ecf0f1;
  text-align: center;
  max-width: 400px; 
}

.result-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-content p {
  font-size: 18px;
}

.result-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3498db;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  line-height: 1.4;
  font-weight: bold; 
}

.icon-container {
  margin-bottom: 40px;
  margin-top: 40px;
}

.icon {
  font-size: 2em; 
  transform: scale(5);
}

.passed-icon {
  color: #00cc00; 
}

.failed-icon {
  color: #cc0000; 
}


.btn-add-leaderboard {
  background-color: #4CAF50; 
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 18px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.btn-add-leaderboard:hover {
  background-color: #45a049; 
}

