label.radio {
    cursor: pointer;
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  label.radio input {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
  }
  
  label.radio span {
    padding: 8px 15px;
    border: 1px solid #ccc;
    display: block;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  label.radio span:hover {
    background-color: #D0D4CA; 
  }
  
  label.radio input:checked + span {
    border-color: #6DB9EF;
    background-color: #6DB9EF;
    color: #fff;
  }
  
  .ans {
    margin-left: 36px !important;
  }
  
  .btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
  }
  
  .btn:active {
    outline: 0 !important;
    box-shadow: none !important;
  }

  .tes{
    color: aquamarine;
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  input {
    padding: 8px;
    margin: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
/* selection quiz */

.quiz-selection-container {
  max-width: 900px;
  margin: 0 auto;
}


.quiz-selection-container h1 {
  margin-bottom: 20px; 
  margin-top: 30px;
  text-align: center;
  font-size: 28px;
}


.quiz-selection-content {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
}

.quiz-info {
  margin-bottom: 15px;
}

.quiz-link {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

.quiz-link:hover {
  text-decoration: none;
}

.quiz-selection-content p {
  color: #112546;
}
